*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  line-height: 1.5;
}

article {
  margin-bottom: 3em;
}

a {
  color: #0084a5;
  text-decoration: none;
}

blockquote {
  padding: 1em;
  margin: 0;
  background-color: #e8e8e8;
  border-radius: 0.5em;
}

blockquote > p {
  margin: 0;
}

pre {
  overflow: scroll;
  padding: 0.5em 1em;
  background-color: #e8e8e8;
  border-radius: 0.5em;
}

figcaption {
  font-size: 0.8em;
  font-weight: 300;
  text-align: center;
}

.nav {
  display: flex;
  padding: 8px 16px;
  margin: 0;
}

.nav_item {
  display: inline-flex;
}

.nav_item + .nav_item {
  margin-left: 1em;
}

.nav_item--active {
  font-weight: bold;
}

.layout {
  width: 90%;
  max-width: 40em;
  margin: 0 auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h2 {
  position: relative;
  font-size: 1.25rem;
}

.anchor {
  position: absolute;
  left: -0.75em;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}

.anchor:hover {
  opacity: 1;
}
