{
  "name": "<%= name %>",
  "version": "0.0.1",
  "description": "<%= description %>",
  "author": "Evgeniy Podivilov <evgeniy.podivilov@gmail.com> (https://twitter.com/senior_idealist)",
  "license": "MIT",
  "homepage": "https://epodivilov.github.io/<%= name %>",
  "browserslist": [
    "last 1 Chrome version"
  ]
}
